.container {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}
input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}
.dark {
  background-color: #222;
  color: white;
}
.dark input, .dark button {
  background: #444;
  color: white;
}